# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules



.DS_Store
.idea/blog-raect.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/encodings.xml
.idea/blog-raect.iml